### Editor ###
.vscode/
.ionide/
.history/
.idea/

### Build ###
obj/
bin/
x86/
x64/
Debug/
Release/
cmake-build-debug/
build/

### VS ###
ipch/
*.filters
*.user
*.opensdf
*.sdf
*.suo

### Lab ###
doc/
report/
*.rar
*.zip
*.doc
*.docs

### Big Project ###
*.out
*.txt
